:root {
    --dark: rgb(14, 14, 14);
    --dark2: rgb(32, 32, 32);
    --dark3: rgb(22, 22, 22);
    --white: #FEFFFE;
    --green: rgb(103, 195, 80);
    --green2: rgb(51, 149, 26);
    --green3: rgb(75, 233, 36);
    --red: rgb(177, 46, 37);
    --red2: rgb(156, 26, 26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

body {
  height: 100vh;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-bottom: 200px;
}

p, th, label, span, div {
  color: var(--white);
}

input {
  color: var(--dark3);
}

h1 {
  color: var(--white);
  margin: 0;
  padding: 20px;
  transition: color 0.7s;
}

h1:hover {
  color: var(--green3);
}